body{

    background-color: silver;
    font-family: monospace;
    background-image: url(../homework/img/jhin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#tituloPrincipal{
    text-align: center;
    justify-content: center;
    color: brown;
    
}
#divClass h1{
    text-align: center;
    color: crimson;

}

h3,h4{
    text-align: center;
}
#container{
    
    text-align: center;
    justify-content: center;
}
#spanid p{
    text-align: center;
    font-size: 18px;
}

#spanid{
    margin: 50px;
}

#thirdDiv{
    
    width: 500px;
    height: 600px;
    background-color: rgb(103, 54, 112);
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    border: rgb(23, 2, 43) solid 10px;
    
   display: flex;
}

#imagen{
    width: 400px ;
}
